.firstContainer {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__postUser--user>img,
.nav__userImage,
.modalShowPost__avatar {
    width: 2.5625rem;
    height: 2.5625rem;
    border-radius: 50%;
    border: 1px solid transparent;
    object-fit: cover;
}

.logout__exit>img {
    width: 0.875rem;
    height: 1.3125rem;
}

.header__container {
    height: 2.75rem;
    width: 50rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: var(--title3);
    line-height: 2.25rem;
    color: (--gray100);
    font-weight: 500;
}

.nav__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    position: relative;
}

.nav__buttonCreatePost {
    width: 9.5rem;
    height: 2.375rem;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    color: var(--gray900);
    font-size: var(--text2);
    font-weight: 500;
}

.nav__userImage {
    border: 1px solid var(--brand100);
}

.logout__header {
    position: absolute;
    top: 0;
    margin-top: 45px;
    display: none;
}

.showLogout {
    display: flex;
    flex-direction: column-reverse;
}

.logout__exit {}

.fixedTitle {
    display: flex;
    height: 4rem;
    width: 99vw;
    background-color: var(--gray800);
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

.fixedTitle>h2 {
    width: 800px;
    color: var(--gray100);
    font-size: var(--title2);
    font-weight: 500;
    line-height: 1.875rem;
}

.main__container--home {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.post__container {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main__postUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__postUser--user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main__postUser--user>p {
    font-size: var(--text2);
    color: var(--gray100);
    font-weight: 500;
    line-height: 1.3125rem;
}

.main__postUser--character {
    color: var(--gray600);
    font-size: var(--title2);
    font-weight: 500;
}

.main__postUser--data {
    color: var(--gray400);
    font-size: var(--text2);
    font-weight: 500;
    line-height: 1.3125rem;
}

.main__postUser--buttons {
    display: flex;
    gap: 1rem;

}

.main__postUser--edit,
.main__postUser--delete {
    width: 3.75rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    font-size: var(--text2);
    font-weight: 500;
    line-height: 0.875rem;
}

.main__postUser--edit {
    border: 1px solid var(--gray600);
    background-color: var(--gray900);
    color: var(--gray100);
}

.main__postUser--delete {
    background-color: var(--gray700);
    border: 1px solid var(--gray700);
    color: var(--gray400);
}

.main__post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__postContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__postContent>h1 {
    font-size: var(--title3);
    font-weight: 600;
    line-height: 2.25rem;
    color: var(--gray100);
}

.main__postContent>p {
    font-size: var(--text1);
    font-weight: 400;
    color: var(--gray300);
    line-height: 1.5rem;
}

.main__post--buttonModal>button {
    font-size: var(--text1);
    color: var(--brand100);
    background-color: var(--gray900);
    border: none;
    line-height: 1.5rem;
    font-weight: 500;
}

/* Abrir Publicação */
.modalShowPost__container {
    display: flex;
    flex-direction: column;
    width: 46.2rem;
    gap: 2rem;
    margin: 1rem;
}

.modalShowPost__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalShowPost__user--user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.modalShowPost__username,
.modalShowPost__createdAt,
.modalShowPost__character {
    font-size: var(--text2);
    font-weight: 500;
    line-height: 1.3125rem;
}

.modalShowPost__username {
    color: var(--gray100);
}

.modalShowPost__character {
    color: var(--gray600);
    line-height: 1.875rem;
}

.modalShowPost__createdAt {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray400);
}

.closeModalPost {
    width: 2.375rem;
    height: 2rem;
    border-radius: var(--border-radius);
    padding: 0.25rem 0 0.25rem 0.875rem;
}

.modalShowPost__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.modalShowPost__postContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalShowPost__postContent>h1 {
    font-size: var(--title3);
    font-weight: 600;
    line-height: 2.25rem;
    color: var(--gray100);
}

.modalShowPost__postContent>p {
    font-size: var(--text1);
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--gray300);
}

/* Criar Publicação */
.modalCreatePost__container {
    width: 46.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.modalCreatePost__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modalCreatePost__header>h1 {
    font-size: var(--title2);
    line-height: 1.875rem;
    font-weight: 500;
    color: var(--gray100);
}

.modalCreatePost__header>img {
    width: 2.375rem;
    height: 2rem;
    padding: 0.25rem 0 0.25rem 0.875rem;
    border-radius: var(--border-radius);
}

.modalCreatePost__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalCreatePost__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalCreatePost__inputs--title,
.modalCreatePost__inputs--content {
    font-size: var(--text1);
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--gray100);
}

.modalCreatePost__inputPost--styleTitle,
.modalCreatePost__inputPost--styleContent {
    padding: 0 0 0 1.0625rem;
    background-color: var(--gray800);
    border: 1px solid var(--grayExtra);
    border-radius: var(--border-radius);
    font-size: var(--text1);
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--gray400);
}

.modalCreatePost__inputPost--styleTitle {
    height: 2.75rem;
}

.modalCreatePost__inputPost--styleContent {
    height: 7.5rem;
}

.modalCreatePost__inputs>input:focus,
.edit__input:focus,
.edit__textarea:focus {
    outline: none;
    border: 1px solid var(--gray500);
}

.modalCreatePost__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.modalCreatePost__buttons--cancel,
.modalCreatePost__buttons--publish {
    width: 6.5625rem;
    height: 38px;
    padding: 0.4375rem 1.25rem;
    border-radius: var(--border-radius);
    font-size: var(--text1);
    font-weight: 500;
}

.modalCreatePost__buttons--cancel {
    background-color: var(--gray600);
    border: 1px solid var(--gray600);
    color: var(--gray400);
}

.modalCreatePost__buttons--publish {
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    color: var(--gray900);
}

/* Editar Publicação */
.modalPatchPost__container {
    width: 46.2rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 2.5rem;
}

.modalPatchPost__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalPatchPost__header>h3 {
    font-size: var(--title2);
    font-weight: 500;
    line-height: 1.875rem;
}

.modalPatchPost__header>img {
    width: 2.375rem;
    height: 32px;
    padding: 0.25rem 0 0.25rem 0;
    border-radius: var(--border-radius);
}

.modalPatchPost__postContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalPatchPost__postContent>label {
    font-size: var(--text1);
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--gray100);
}

.edit__input,
.edit__textarea {
    background-color: var(--gray800);
    border: 1px solid var(--grayExtra);
    border-radius: var(--border-radius);
    padding: 0.625rem 1.0625rem;
    font-size: var(--text1);
    line-height: 1.5rem;
    color: var(--gray100);
}

.edit__input {
    height: 2.75rem;
}

.edit__textarea {
    height: 22.25rem;
    resize: none;
}

.modalPatchPost__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modalPatchPost__buttons--cancel {
    width: 6.5625rem;
    height: 2.375rem;
    padding: 0.4375rem 1.25rem;
    border-radius: var(--border-radius);
    background-color: var(--gray700);
    border: 1px solid var(--gray700);
    color: var(--gray400);
    font-weight: 500;
}

.modalPatchPost__buttons--toSave {
    width: 10.125rem;
    height: 2.375rem;
    padding: 0.4375rem 1.25rem;
    border-radius: var(--border-radius);
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    font-size: var(--text2);
    font-weight: 500;
    color: var(--gray900);
}

/* Excluir Publicação */
.modalDeletePost__container {
    width: 46.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.modalDeletePost__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalDeletePost__header>h2 {
    font-size: var(--title2);
    font-weight: 500;
    line-height: 1.875rem;
    color: var(--gray100);
}

.modalDeletePost__header>img {
    width: 2.375rem;
    height: 2rem;
    border-radius: var(--border-radius);
    padding: 0.25rem 0;
}

.modalDeletePost__container>h1 {
    margin-top: 2rem;
    font-size: var(--title3);
    font-weight: 500;
    line-height: 2.25rem;
    color: var(--gray100);
}

.modalDeletePost__container>p {
    font-size: var(--text1);
    line-height: 1.5rem;
    color: var(--gray300);
    margin-bottom: 2rem;
}

.modalDeletePost__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.modalDeletePost__buttons>button {
    width: 6.0625rem;
    height: 2.375rem;
    padding: 0 0.8125rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    line-height: 1.5rem;
    font-size: var(--text1);
    color: var(--gray400);
    background-color: var(--gray600);
    border: 1px solid var(--gray600);
}

#modalDeletePost__confirmeDelete {
    width: 11.8125rem;
    background-color: var(--alert100);
    border: 1px solid var(--alert100);
    color: var(--gray900);
    font-size: var(--text2);
}

/* Background Modais */
#modalControl-showPost,
#modalControl-createPost,
#modalControl-patchPost,
#modalControl-deletePost {
    border: transparent;
    border-radius: calc(var(--border-radius)*2);
}

#modalControl-showPost::backdrop,
#modalControl-createPost::backdrop,
#modalControl-patchPost::backdrop,
#modalControl-deletePost::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5px);
}

/*  */